/.DS_Store
/.ipynb_checkpoints
/.vscode
/Bloom_Filter_and_Count_Distinct.pptx
/Pipfile
/Task3_Bloom_Filter_Distinct_Count_NiklasTrimpe.pptx
/bloom_filter.ipynb
/~$Bloom_Filter_and_Count_Distinct.pptx
/~$Task3_Bloom_Filter_Distinct_Count_NiklasTrimpe.pptx